@import './styles/fonts/IBMPlexMono-Regular.css';
@import './styles/common.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: SFMono, monospace;
}

code span {
  font-family: SFMono, monospace;
}
