/* horizontal and vertical center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
}

/* used for fill remaining height of page */
.page-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
