/* reset some elements styles */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* horizontal and vertical center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
}

/* used for fill remaining height of page */
.page-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  margin: 16px 40px;
}

.page-empty-card {
  flex-grow: 1;
}

/* default empty card style, can be overrided by adding icon class */
.page-empty-card .MuiSvgIcon-root {
  width: 48px;
  height: 48px;
  fill: transparent;
}

.page-empty-card .MuiSvgIcon-root path {
  stroke: #aeaebb;
}

/* used for release or load dialog content */
.dialog-content {
  line-height: 24px;
  font-size: 16px;
  text-transform: lowercase;
}

.dialog-content::first-letter {
  text-transform: uppercase;
}
