/**
 * we usually use Material makeStyles to write component and page style
 * this file is used for some global scope reusable style
 */

/* reset some elements styles */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* horizontal and vertical center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-max-content {
  width: max-content;
}
/* used for fill remaining height of page */
.page-wrapper {
  /* set flex basis to make child item height 100% work on Safari */
  flex-basis: 0;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  margin: 16px;
}

.page-empty-card {
  flex-grow: 1;
}

/* default empty card style, can be overrided by adding icon class */
.page-empty-card .MuiSvgIcon-root {
  width: 48px;
  height: 48px;
  fill: transparent;
}

.page-empty-card .MuiSvgIcon-root path {
  stroke: #aeaebb;
}

/* used for release or load dialog content */
.dialog-content {
  line-height: 24px;
  font-size: 16px;
}
