name: Attu Dev Release

on:
  pull_request_target:
    branches: [main]
    types: [closed]
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
          - linux/arm/v7

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PWD }}

      - name: Docker Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          tags: |
            zilliz/attu:dev-${{ matrix.platform | replace('/', '-') }}
          cache-from: type=registry,ref=zilliz/attu:cache
          cache-to: type=inline
          build-args: |
            VERSION=dev
          push: true

  manifest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PWD }}

      - name: Create and Push Docker Manifest
        run: |
          docker manifest create zilliz/attu:dev \
            zilliz/attu:dev-linux-amd64 \
            zilliz/attu:dev-linux-arm64 \
            zilliz/attu:dev-linux-arm-v7
          docker manifest push zilliz/attu:dev
